*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Common */
html{
    font-family: "Montserrat", sans-serif;
    font-size: 62,5%; /* 100%=16px */
     /* 62.5%=10px */
}

.container{
    width: 80%;
    margin: 0 auto;
    max-width: 1400px;
    /* Test */
    /* border: 2px solid red;
    height: 800px; */

}
img{
    width: 100%;
}


/* Header */
header{
    margin-bottom: 1.5em;
}
.header-logo{
    width: auto;
    height: 60px;
    padding-right: 1em;
    border-right: 1px solid lightgray;
    margin-bottom: 2em;
}
.header-nav{
    list-style: none;

}
li a{
    text-decoration: none;
    text-transform: uppercase;
    color:inherit;
}
.header-nav li{
    display: inline-block;
    padding-right: .3em;
    color: grey;   
}


/* Main */

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.content{
    background-color: blue;
    margin-bottom: 10px;
}
.banner{
    height: 450px;
    background-color: rgb(255, 217, 0);
    margin-bottom: 1.5em;
}
.content-top{
    height: 65px;
    margin-bottom: 1.5em;
    background-color: rgb(0, 132, 255);
    margin-bottom: 1.5em;
}
.col{
    height: 400px;
    margin-bottom: 20px;
    background-color: rgb(0, 132, 255);
    float: left;
}
.col-side{
    width: 25%;
}
.col-center{
    width: 46%;
    margin: 0 2%;
}

/* footer */
footer{
    margin-top: 1em;
    height: 50px;
    background-color: blueviolet;
}
